body {
  background-color: rgb(22,22,22);
  color: white;
  font-family: "Verdana"
}

.lightmode {
  background-color: white;
  color: rgb(22,22,22);
  font-family: "Verdana"
}

.title {
  text-align: center;
  font-size: 200%;
  font-family: "Verdana";
  margin: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.subtitle {
  text-align: center;
  font-size: 120%;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.media {
  width:30px;
  height:30px;
  padding:5px;
  cursor: pointer;
}

.button {
  text-align: center;
  width:200px;
  height:50px;
  font-size: 200%;
  outline-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.home {
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width:50px;
  height:50px;
  left: 40.4%;
}

.light {
  width:50px;
  height:50px;
  float: right;
  padding:5px;
  cursor: pointer;
}

.bio {
  font-size: 130%;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display:none;
}

